html{box-sizing:border-box}*,*:before,*:after{
    box-sizing:inherit
}
html{
    -ms-text-size-adjust:100%;-webkit-text-size-adjust:100%
}body{
    margin:0
}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{
    display:block
}summary{
    display:list-item
}

progress{
    vertical-align:baseline
}
a{
    background-color:transparent
}
a:active,a:hover
{
    outline-width:0
}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}

html,body
{
    font-family:Verdana,sans-serif;font-size:15px;line-height:1.5
}
html{
    overflow-x:hidden
}
h1{font-size:36px
}
h2
{font-size:30px
}
h3{
    font-size:24px
}
h4{
    font-size:20px
}
h5{
    font-size:18px
}
h6{
    font-size:16px
}
.w3-serif{
    font-family:serif
}
.w3-sans-serif
{
    font-family:sans-serif
}
.w3-cursive{
    font-family:cursive
}
.w3-monospace{
    font-family:monospace
}
h1,h2,h3,h4,h5,h6{
    font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0
}
.w3-wide{
    letter-spacing:4px
}
hr{
    border:0;border-top:1px solid #eee;margin:20px 0
}
.w3-image{
    max-width:100%;height:auto
}
img{
    vertical-align:middle
}
a{
    color:inherit
}

div {
    position: absolute;
}
video {
    
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h1 {
    background: white;
    font-size: 220px;
    text-align: center;
    font-weight: 900;
    mix-blend-mode:multiply;
}